<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增设备状态表')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-status-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">设备Id：</label>
                <div class="col-sm-8">
                    <input name="deviceId" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">设备实时状态：</label>
                <div class="col-sm-8">
                    <select name="deviceStatus" class="form-control m-b" th:with="type=${@dict.getType('device_status')}" required>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">ping平均时延：</label>
                <div class="col-sm-8">
                    <input name="pingAvg" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <input name="note" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">最小时延：</label>
                <div class="col-sm-8">
                    <input name="pingMin" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">最大时延：</label>
                <div class="col-sm-8">
                    <input name="pingMax" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">丢包率：</label>
                <div class="col-sm-8">
                    <input name="pingLoss" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "device/status"
        $("#form-status-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-status-add').serialize());
            }
        }
    </script>
</body>
</html>