<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.device.mapper.DeviceStatusMapper">

    <resultMap type="DeviceStatus" id="DeviceStatusResult">
        <result property="id"    column="id"    />
        <result property="deviceId"    column="device_id"    />
        <result property="deviceStatus"    column="device_status"    />
        <result property="updateTime"    column="update_time"    />
        <result property="note"    column="note"    />
        <association property="deviceInfo" javaType="DeviceInfo" resultMap="DeviceInfoResult"></association>
    </resultMap>

    <resultMap type="DeviceInfo" id="DeviceInfoResult">
        <result property="deviceName" column="device_name"/>
        <result property="deviceModel" column="device_model"/>
        <result property="manufacturer" column="manufacturer"/>
        <result property="deviceIp1" column="device_ip1"/>
        <result property="deviceIp2" column="device_ip2"/>
        <result property="deviceIp3" column="device_ip3"/>
        <result property="deviceIp4" column="device_ip4"/>
        <result property="deviceIp5" column="device_ip5"/>
        <result property="deviceIp6" column="device_ip6"/>
        <result property="deviceIp7" column="device_ip7"/>
        <result property="deviceIp8" column="device_ip8"/>
        <result property="installDate" column="install_date"/>
        <result property="location" column="location"/>
        <result property="note" column="note"/>
    </resultMap>

    <sql id="selectDeviceStatusVo">
        SELECT
            t.id,
            t.device_id,
            t.device_status,
            t.update_time,
            t.note,
            device_name,
            device_model,
            manufacturer,
            device_ip1,
            device_ip2,
            device_ip3,
            device_ip4,
            device_ip5,
            device_ip6,
            device_ip7,
            device_ip8,
            install_date,
            location
        FROM
            device_status AS t
                LEFT JOIN
            device_info AS i ON t.device_id = i.id
    </sql>

    <select id="selectDeviceStatusList" parameterType="DeviceStatus" resultMap="DeviceStatusResult">
        <include refid="selectDeviceStatusVo"/>
        <where>
            <if test="deviceInfo !=null and deviceInfo.deviceName != null "> and device_name like concat('%', #{deviceInfo.deviceName}, '%')</if>
            <if test="deviceId != null "> and device_id = #{deviceId}</if>
            <if test="deviceStatus != null "> and device_status = #{deviceStatus}</if>
            <if test="updateTime != null "> and update_time = #{updateTime}</if>
        </where>

        order by update_time desc
    </select>

    <select id="selectDeviceStatusById" parameterType="Long" resultMap="DeviceStatusResult">
        <include refid="selectDeviceStatusVo"/>
        where id = #{id}
    </select>

    <insert id="insertDeviceStatus" parameterType="DeviceStatus" useGeneratedKeys="true" keyProperty="id">
        insert into device_status
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deviceId != null">device_id,</if>
            <if test="deviceStatus != null">device_status,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="note != null">note,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deviceId != null">#{deviceId},</if>
            <if test="deviceStatus != null">#{deviceStatus},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="note != null">#{note},</if>
         </trim>
    </insert>

    <update id="updateDeviceStatus" parameterType="DeviceStatus">
        update device_status
        <trim prefix="SET" suffixOverrides=",">
            <if test="deviceId != null">device_id = #{deviceId},</if>
            <if test="deviceStatus != null">device_status = #{deviceStatus},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="note != null">note = #{note},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDeviceStatusById" parameterType="Long">
        delete from device_status where id = #{id}
    </delete>

    <delete id="deleteDeviceStatusByIds" parameterType="String">
        delete from device_status where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
