<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>首页</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
    <!--<script th:src="@{/js/jquery.min.js}"></script>-->
    <!--<script th:src="@{/js/bootstrap.min.js}"></script>-->
    <!--<script th:src="@{/ajax/libs/layer/layer.min.js}"></script>-->
</head>

<body class="gray-bg">
111111是的范德萨
<div style="width: 100%; display: flex; justify-content: space-between">
    <!--图例区-->
    <div id="myPaletteDiv" style="width: 230px; height: 650px; margin-right: 2px; border: solid 1px black"></div>
    <!--绘图区-->
    <div id="myDiagramDiv" style="flex-grow: 1; height: 650px; border: solid 1px black"></div>
</div>
</body>
</html>
<script src="https://unpkg.com/gojs/release/go-debug.js"></script>
<script>
    var $ = go.GraphObject.make;

    var myPalette =
        $(go.Palette, "myPaletteDiv");

	myPalette.nodeTemplate =
			$(go.Node, "Horizontal",
					$(go.Shape,
							{ width: 14, height: 14, fill: "white" },
							new go.Binding("fill", "color")),
					$(go.TextBlock,
							new go.Binding("text", "color"))
			);

	myPalette.model.nodeDataArray = [
		{ key: "C", color: "cyan" },
		{ key: "LC", color: "lightcyan" },
		{ key: "A", color: "aquamarine" },
		{ key: "T", color: "turquoise" },
		{ key: "PB", color: "powderblue" },
		{ key: "LB", color: "lightblue" },
		{ key: "LSB", color: "lightskyblue" },
		{ key: "DSB", color: "deepskyblue" }
	];


    var myDiagram =
        $(go.Diagram, "myDiagramDiv",
            {
                "undoManager.isEnabled": true,
                layout: $(go.TreeLayout,
                    {angle: 90, layerSpacing: 35})
            });

    // the template we defined earlier
    myDiagram.nodeTemplate =
        $(go.Node, "Vertical",
            // {background: "#44CCFF"},
            $(go.Picture,
                {margin: 1, width: 50, height: 50, background: "red"},
                new go.Binding("source")),
            $(go.TextBlock, "Default Text",
                {margin: 1, stroke: "black", font: "bold 16px sans-serif"},
                new go.Binding("text", "name"))
        );

    // define a Link template that routes orthogonally, with no arrowhead
    myDiagram.linkTemplate =
        $(go.Link,
            {routing: go.Link.Orthogonal, corner: 5},
            $(go.Shape, // the link's path shape
                {strokeWidth: 3, stroke: "#555"}),
            $(go.Shape, {toArrow: "Standard", stroke: null}));

    var model = $(go.TreeModel);
    model.nodeDataArray =
        [
            {key: "1", name: "Don Meow", source: "cat1.png"},
            {key: "2", parent: "1", name: "Demeter", source: "cat2.png"},
            {key: "3", parent: "1", name: "Copricat", source: "cat3.png"},
            {key: "4", parent: "3", name: "Jellylorum", source: "cat4.png"},
            {key: "5", parent: "3", name: "Alonzo", source: "cat5.png"},
            {key: "6", parent: "2", name: "Munkustrap", source: "cat6.png"}
        ];
    myDiagram.model = model;

    // console.log(myDiagram.model.toJson());
</script>
