<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('拓扑设备管理')"/>
    <script src="https://unpkg.com/gojs/release/go-debug.js"></script>
    <script src="/js/gojs/DataInspector.js"></script>
    <script src="/js/jquery.min.js"></script>

    <script th:inline="javascript">
        var deviceStatusDatas = [[${@dict.getType('device_status')}]];

       var columnOption = {
           title: {
               text: '设备告警次数对比',
               x: 'center'
           },
            xAxis: {
                type: 'category',
                data: ['dev1', 'dev2', 'dev3', 'dev4', 'dev5', 'dev6', 'dev7']
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                data: [120, 200, 150, 80, 70, 110, 130],
                type: 'bar',
                showBackground: true,
                backgroundStyle: {
                    color: 'rgba(180, 180, 180, 0.2)'
                }
            }]
        };

        var lineOption = {
            title: {
                text: '设备一周告警次数统计',
                x: 'center'
            },
            xAxis: {
                type: 'category',
                data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                data: [150, 230, 224, 218, 135, 147, 260],
                type: 'line'
            }]
        };

        var pieoption = {
            title: {
                text: '设备当前状态统计',
                x: 'center'
            },
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                x: 'left',
                data: ['好', '一般', '差']
            },
            calculable: true,
            series: [
                {
                    name: '状态分类',
                    type: 'pie',
                    radius: '55%',
                    center: ['50%', '60%'],
                    data: [
                        {value: 0, name: '好'},
                        {value: 0, name: '一般'},
                        {value: 1, name: '差'},
                    ]
                }
            ]
        };

        function init() {

            var GO = go.GraphObject.make;  // for conciseness in defining templates

            myDiagram =
                GO(go.Diagram, "myDiagramDiv",  // must name or refer to the DIV HTML element
                    {
                        "LinkDrawn": showLinkLabel,  // this DiagramEvent listener is defined below
                        "LinkRelinked": showLinkLabel,
                        "undoManager.isEnabled": true, // enable undo & redo
                        "hoverDelay": 10,  // controls how long to wait motionless (msec) before showing Adornment
                    });

            // 双击节点事件
            myDiagram.addDiagramListener("ObjectDoubleClicked",
                function (e) {
                    var part = e.subject.part;
                    $.modal.open("查看设备详情", '/device/info/view/' + part.data.key, 650, 500);
                });

            // when the document is modified, add a "*" to the title and enable the "Save" button
            myDiagram.addDiagramListener("Modified", function (e) {
                var button = document.getElementById("SaveButton");
                if (button) button.disabled = !myDiagram.isModified;
                var idx = document.title.indexOf("*");
                if (myDiagram.isModified) {
                    if (idx < 0) document.title += "*";
                } else {
                    if (idx >= 0) document.title = document.title.substr(0, idx);
                }
            });

            // helper definitions for node templates

            function nodeStyle() {
                return [
                    // The Node.location comes from the "loc" property of the node data,
                    // converted by the Point.parse static method.
                    // If the Node.location is changed, it updates the "loc" property of the node data,
                    // converting back using the Point.stringify static method.
                    new go.Binding("location", "loc", go.Point.parse).makeTwoWay(go.Point.stringify),
                    {
                        // the Node.location is at the center of each node
                        locationSpot: go.Spot.Center
                    }
                ];
            }

            // Define a function for creating a "port" that is normally transparent.
            // The "name" is used as the GraphObject.portId,
            // the "align" is used to determine where to position the port relative to the body of the node,
            // the "spot" is used to control how links connect with the port and whether the port
            // stretches along the side of the node,
            // and the boolean "output" and "input" arguments control whether the user can draw links from or to the port.
            function makePort(name, align, spot, output, input) {
                var horizontal = align.equals(go.Spot.Top) || align.equals(go.Spot.Bottom);
                // the port is basically just a transparent rectangle that stretches along the side of the node,
                // and becomes colored when the mouse passes over it
                return GO(go.Shape,
                    {
                        fill: "transparent",  // changed to a color in the mouseEnter event handler
                        strokeWidth: 0,  // no stroke
                        width: horizontal ? NaN : 8,  // if not stretching horizontally, just 8 wide
                        height: !horizontal ? NaN : 8,  // if not stretching vertically, just 8 tall
                        alignment: align,  // align the port on the main Shape
                        stretch: (horizontal ? go.GraphObject.Horizontal : go.GraphObject.Vertical),
                        portId: name,  // declare this object to be a "port"
                        fromSpot: spot,  // declare where links may connect at this port
                        fromLinkable: output,  // declare whether the user may draw links from here
                        toSpot: spot,  // declare where links may connect at this port
                        toLinkable: input,  // declare whether the user may draw links to here
                        cursor: "pointer",  // show a different cursor to indicate potential link point
                        mouseEnter: function (e, port) {  // the PORT argument will be this Shape
                            if (!e.diagram.isReadOnly) port.fill = "rgba(255,0,255,0.5)";
                        },
                        mouseLeave: function (e, port) {
                            port.fill = "transparent";
                        }
                    });
            }

            function textStyle() {
                return {
                    font: "bold 11pt Lato, Helvetica, Arial, sans-serif",
                    stroke: "#F8F8F8"
                }
            }

            // define the Node templates for regular nodes
            myDiagram.nodeTemplateMap.add("devNode",  // the default category
                GO(go.Node, "Auto", nodeStyle(),
                    GO(go.Shape, "RoundedRectangle", {'fill': 'lightblue'}),
                    GO(go.Panel, "Table",
                        {defaultAlignment: go.Spot.Left},
                        GO(go.Picture, {
                            row: 0,
                            column: 0,
                            columnSpan: 2,
                            width: 100,
                            height: 80
                        }, new go.Binding("source", "imgUrl")),

                        GO(go.TextBlock, {row: 1, column: 0}, new go.Binding("text", "deviceName"), {margin: 5}),
                        GO(go.Shape, "Circle", {row: 1, column: 1}, {
                            segmentIndex: 0,
                            width: 15,
                            height: 15,
                            fill: 'lightblue',
                            strokeWidth: 0
                        }, new go.Binding('fill', 'status'))


                        // GO(go.TextBlock, {row: 2, column: 0}, "设备型号:", {margin: 5}),
                        // GO(go.TextBlock, {row: 2, column: 1}, new go.Binding("text", "deviceModel")),
                        // GO(go.TextBlock, {row: 3, column: 0}, "设备分类:", {margin: 5}),
                        // GO(go.TextBlock, {row: 3, column: 1}, new go.Binding("text", "deviceType")),
                        // GO(go.TextBlock, {row: 4, column: 0}, "  IP地址:", {margin: 5}),
                        // GO(go.TextBlock, {row: 4, column: 1}, new go.Binding("text", "ip")),
                        // GO(go.TextBlock, {row: 2, column: 0}, "  状态:", {margin: 5}),
                        // GO(go.TextBlock, {row: 2, column: 1}, new go.Binding("text", "status"))
                    ),
                    // four named ports, one on each side:
                    makePort("T", go.Spot.Top, go.Spot.TopSide, false, false),
                    makePort("L", go.Spot.Left, go.Spot.LeftSide, false, false),
                    makePort("R", go.Spot.Right, go.Spot.RightSide, false, false),
                    makePort("B", go.Spot.Bottom, go.Spot.BottomSide, false, false)
                )
            );


            // replace the default Link template in the linkTemplateMap
            myDiagram.linkTemplate =
                GO(go.Link,  // the whole link panel
                    {
                        routing: go.Link.AvoidsNodes,
                        curve: go.Link.JumpOver,
                        corner: 5, toShortLength: 4,
                        relinkableFrom: true,
                        relinkableTo: true,
                        reshapable: true,
                        resegmentable: true,
                        // mouse-overs subtly highlight links:
                        mouseEnter: function (e, link) {
                            link.findObject("HIGHLIGHT").stroke = "rgba(30,144,255,0.2)";
                        },
                        mouseLeave: function (e, link) {
                            link.findObject("HIGHLIGHT").stroke = "transparent";
                        },
                        selectionAdorned: false
                    },
                    new go.Binding("points").makeTwoWay(),
                    GO(go.Shape,  // the highlight shape, normally transparent
                        {isPanelMain: true, strokeWidth: 8, stroke: "transparent", name: "HIGHLIGHT"}),
                    GO(go.Shape,  // the link path shape
                        {isPanelMain: true, stroke: "gray", strokeWidth: 2},
                        new go.Binding("stroke", "isSelected", function (sel) {
                            return sel ? "dodgerblue" : "gray";
                        }).ofObject()),
                    GO(go.Shape,  // the arrowhead
                        {toArrow: "standard", strokeWidth: 0, fill: "gray"}),
                    GO(go.Panel, "Auto",  // the link label, normally not visible
                        {visible: false, name: "LABEL", segmentIndex: 2, segmentFraction: 0.5},
                        new go.Binding("visible", "visible").makeTwoWay(),
                        GO(go.Shape, "RoundedRectangle",  // the label shape
                            {fill: "#F8F8F8", strokeWidth: 0}),
                        GO(go.TextBlock, "Yes",  // the label
                            {
                                textAlign: "center",
                                font: "10pt helvetica, arial, sans-serif",
                                stroke: "#333333",
                                editable: true
                            },
                            new go.Binding("text").makeTwoWay())
                    )
                );


            // Make link labels visible if coming out of a "conditional" node.
            // This listener is called by the "LinkDrawn" and "LinkRelinked" DiagramEvents.
            function showLinkLabel(e) {
                var label = e.subject.findObject("LABEL");
                if (label !== null) label.visible = (e.subject.fromNode.data.category === "Conditional");
            }

            // temporary links used by LinkingTool and RelinkingTool are also orthogonal:
            myDiagram.toolManager.linkingTool.temporaryLink.routing = go.Link.Orthogonal;
            myDiagram.toolManager.relinkingTool.temporaryLink.routing = go.Link.Orthogonal;

            load();  // load an initial diagram from some JSON text

            // This is a re-implementation of the default animation, except it fades in from downwards, instead of upwards.
            function animateFadeDown(e) {
                var diagram = e.diagram;
                var animation = new go.Animation();
                animation.isViewportUnconstrained = true; // So Diagram positioning rules let the animation start off-screen
                animation.easing = go.Animation.EaseOutExpo;
                animation.duration = 900;
                // Fade "down", in other words, fade in from above
                animation.add(diagram, 'position', diagram.position.copy().offset(0, 200), diagram.position);
                animation.add(diagram, 'opacity', 0, 1);
                animation.start();
            }


        } // end init


        function load() {
            myDiagram.model = go.Model.fromJson(document.getElementById("mySavedModel").value);
            setInterval(function () {
                searchDeviceStatus();
            }, 25000);
        }


        //获取设备状态信息
        function searchDeviceStatus() {
            console.log('正在更新设备状态@');
            var model = myDiagram.model;
            var arr = model.nodeDataArray;
            var deviceIds = '';
            for (var i = 0; i < arr.length; i++) {
                var nodeData = arr[i];
                deviceIds = deviceIds + nodeData.key + ','
            }

            $.post("/device/status/deviceStatus", {deviceIds: deviceIds + '0'}, function (response) {
                var model = myDiagram.model;
                var arr = model.nodeDataArray;
                // 循环节点匹配，更新设备状态
                for (var i = 0; i < arr.length; i++) {
                    var nodeData = arr[i];
                    $.each(response.data, function (i, item) {
                        if (nodeData.key == item.deviceId) {
                            if (item.deviceStatus == '1') {
                                nodeData.status = 'green';
                            } else if (item.deviceStatus == '2') {
                                nodeData.status = 'yellow';
                            } else {
                                nodeData.status = 'red';
                            }
                            model.updateTargetBindings(nodeData);
                        }
                    });
                }

                var goodCnt = 0;
                var commonCnt = 0;
                var badCnt = 0;
                $.each(response.data, function (i, item) {
                    if (item.deviceStatus == 1) {
                        goodCnt++;
                    }
                    if (item.deviceStatus == 2) {
                        commonCnt++;
                    }
                    if (item.deviceStatus == 3) {
                        badCnt++;
                    }
                });

                pieoption.series[0].data = [
                    {value: goodCnt, name: '好'},
                    {value: commonCnt, name: '一般'},
                    {value: badCnt, name: '差'},
                ];

                pieChart.setOption(pieoption);

            });
        }


    </script>
</head>
<body class="gray-bg" onload="init()">
<div class="row" id="sample">
    <div class="col-md-9">
        <div id="myDiagramDiv" style="flex-grow: 1; background-color: #282c34;"></div>
    </div>
    <div class="col-md-3">
        <div style="padding-top: 10px" class="echarts" id="echarts-pie-chart"></div>
        <div id="lineChart"  class="echarts" ></div>
        <div id="columnChart"  class="echarts" ></div>
    </div>
</div>
<input type="hidden" id="mySavedModel" th:field="${deviceTopology.imageData}"/>
<input type="hidden" id="deviceTopologyId" th:field="${deviceTopology.id}">
<!--        <button onclick="searchDeviceStatus()">更新设备状态</button>-->
<th:block th:include="include :: footer"/>
</body>
</html>

<th:block th:include="include :: echarts-js"/>
<script th:inline="javascript">
    var pieChart = echarts.init(document.getElementById("echarts-pie-chart"));
    pieChart.setOption(pieoption);
    var myChart = echarts.init(document.getElementById('lineChart'));
    myChart.setOption(lineOption);
    var myChart2 = echarts.init(document.getElementById('columnChart'));
    myChart2.setOption(columnOption);

    $(window).resize(pieChart.resize);
    $(function () {
        // 设置高度，避免出现滚动条
        $('#myDiagramDiv').css({'height': $(window).height()});
        $(window).resize(function(){
            $('#myDiagramDiv').css({'height': $(window).height()});
        });


    });
</script>
